.R11_MS-1 {
  background: url('http://cdn.tanks-lab.com/vehicles/ussr/R11_MS-1.png') no-repeat center center;
}
.R08_BT-2 {
  background: url('http://cdn.tanks-lab.com/vehicles/ussr/R08_BT-2.png') no-repeat center center;
}
.R03_BT-7 {
  background: url('http://cdn.tanks-lab.com/vehicles/ussr/R03_BT-7.png') no-repeat center center;
}
.R12_A-20 {
  background: url('http://cdn.tanks-lab.com/vehicles/ussr/R12_A-20.png') no-repeat center center;
}
.R04_T-34 {
  background: url('http://cdn.tanks-lab.com/vehicles/ussr/R04_T-34.png') no-repeat center center;
}
.R07_T-34-85 {
  background: url('http://cdn.tanks-lab.com/vehicles/ussr/R07_T-34-85.png') no-repeat center center;
}
.R01_IS {
  background: url('http://cdn.tanks-lab.com/vehicles/ussr/R01_IS.png') no-repeat center center;
}
.R19_IS-3 {
  background: url('http://cdn.tanks-lab.com/vehicles/ussr/R19_IS-3.png') no-repeat center center;
}
.R81_T-10 {
  background: url('http://cdn.tanks-lab.com/vehicles/ussr/R81_T-10.png') no-repeat center center;
}
.R45_IS-7 {
  background: url('http://cdn.tanks-lab.com/vehicles/ussr/R45_IS-7.png') no-repeat center center;
}

.tank__view > div {
  background-position: 135px calc(30% - 15px);
  background-size: 100%;
}


.R11_MS-1_resized {
  background: url('../../assets/imgs/vehicles/ussr/resized/ussr-R11_MS-1.png') no-repeat center center;
}
.R08_BT-2_resized {
  background: url('../../assets/imgs/vehicles/ussr/resized/ussr-R08_BT-2.png') no-repeat center center;
}
.R03_BT-7_resized {
  background: url('../../assets/imgs/vehicles/ussr/resized/ussr-R03_BT-7.png') no-repeat center center;
}
.R12_A-20_resized {
  background: url('../../assets/imgs/vehicles/ussr/resized/ussr-R12_A-20.png') no-repeat center center;
}
.R04_T-34_resized {
  background: url('../../assets/imgs/vehicles/ussr/resized/ussr-R04_T-34.png') no-repeat center center;
}
.R07_T-34-85_resized {
  background: url('../../assets/imgs/vehicles/ussr/resized/ussr-R07_T-34-85.png') no-repeat center center;
}
.R01_IS_resized {
  background: url('../../assets/imgs/vehicles/ussr/resized/ussr-R01_IS.png') no-repeat center center;
}
.R19_IS-3_resized {
  background: url('../../assets/imgs/vehicles/ussr/resized/ussr-R19_IS-3.png') no-repeat center center;
}
.R81_T-10_resized {
  background: url('../../assets/imgs/vehicles/ussr/resized/ussr-R81_T-10.png') no-repeat center center;
}
.R45_IS-7_resized {
  background: url('../../assets/imgs/vehicles/ussr/resized/ussr-R45_IS-7.png') no-repeat center center;
}
