.R11_MS-1 {
  background: url('//ru-wotp.wgcdn.co/dcont/tankopedia_images/r11_ms-1/r11_ms-1_image.png') no-repeat center center;
}
.R08_BT-2 {
  background: url('//ru-wotp.wgcdn.co/dcont/tankopedia_images/r08_bt-2/r08_bt-2_image.png') no-repeat center center;
}

.tank__view > div {
  background-position: 135px calc(30% - 15px);
  background-size: 100%;
}


.R11_MS-1_resized {
  background: url('../../assets/imgs/vehicles/ussr/resized/ussr-R11_MS-1.png') no-repeat center center;
}
.R08_BT-2_resized {
  background: url('../../assets/imgs/vehicles/ussr/resized/ussr-R08_BT-2.png') no-repeat center center;
}
.R03_BT-7_resized {
  background: url('../../assets/imgs/vehicles/ussr/resized/ussr-R03_BT-7.png') no-repeat center center;
}
