<header class="header">
    <div class="container">
        <div class="row">

            <h1 class="header-inner_title">О проекте</h1>

        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="content">
            <h2>ИГРОВОЙ ПРОЦЕСС</h2>
            <p>
                Tanks-Lab.com - Это игровой симулятор танкостроения с возможностью вывода реальных денег.
                Игроку необходимо расширять свое танкостроение покупая чертежи техники.
                После изучения чертежей, начинается ее производство, тем самым увеличивая вашу выручку.
                Чем больше техники вы произведете, тем больше будет ваша выручка.
            </p>
            <br>
            <br>
            <h2>ЗАРАБОТОК В ИНТЕРНЕТЕ</h2>
            <p>
                Средства заработанные с продажи произведенной техники в игровой валюте пользователь проекта обменивает
                на свой внутренний счет, с которого можно заказать выплату на свой
                электронный кошелек, банковскую карту или мобильный телефон.
            </p>
            <br>
            <br>
            <h2>ПАРТНЕРСКАЯ ПРОГРАММА</h2>
            <p>
                Для всех пользователей проекта также доступна партнерская программа.
                Мы выплачиваем 5% от всех пополнений приглашенных Вами игроков(рефералов).
                Средства заработанные на партнерской программе начисляются на Ваш счет для вывода, это означает что их
                можно вывести из проекта сразу после начисления на баланс.
            </p>
        </div>
    </div>
</div>