<header class="header">
    <div class="container">
        <div class="row">

            <h1 class="header-inner_title">Помощь</h1>

        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="content">
            <h2>E-MAIL ДЛЯ СВЯЗИ</h2>
            <p>
                <a href="mailto:support@tanks-lab.com">support@tanks-lab.com</a>
            </p>
            <br>
            <br>
            <h2>ВОПРОС/ОТВЕТ</h2>
            <ul class="faq__list">
                <li class="faq__item faq__item_active row">
                    <div class="faq__question">Как я могу заработать в проекте Tanks-Lab.com?</div>
                    <div class="faq__answer">Все просто. В нашем проекте существует несколько способов заработка, это: развитие своего танкостроения, реферальная программа и т.д</div>
                </li>
                <li class="faq__item row faq__item_active">
                    <div class="faq__question">У Вас есть баллы или какие то другие ограничения на заработок?</div>
                    <div class="faq__answer">Нет, у нас нету баллов, Вы можете выводить ровно столько, сколько заработали на нашем проекте, без каких-либо ограничений.</div>
                </li>
                <li class="faq__item row faq__item_active">
                    <div class="faq__question">На какие платежные системы осуществляется ввод и вывод средств?</div>
                    <div class="faq__answer">Пополнение баланса можно осуществить через платежные системы: Яндекс.Деньги, QIWI Кошелек, WebMoney, PAYEER, Perfect Money, ADV Cash, Free-Kassa и т.д</div>
                    <div class="faq__answer">Выплаты осуществляются в автоматическом режиме на платежные системы: PAYEER, Яндекс.Деньги, QIWI Кошелек, VISA/MasterCard, Perfect Money и мобильные телефоны.</div>
                </li>
                <li class="faq__item row faq__item_active">
                    <div class="faq__question">Есть ли у Вас партнерская программа?</div>
                    <div class="faq__answer">Конечно. Партнерская программа в Tanks-Lab.com имеет 1 уровень, заработок с партнерской программы перечисляется на счет для вывода.</div>
                </li>
            </ul>
        </div>
    </div>
</div>