<div class="container">
  <div class="row">
    <ul class="features">
      <li>
        <div class="image pre1"></div>
        <h4>Собственный скрипт</h4>
        <span>Мы используем уникальный скрипт собственной разработки, сайт создавался с нуля лично нами.</span>
      </li>
      <li>
        <div class="image pre2"></div>
        <h4>Выделенный сервер</h4>
        <span>Проект размещен на выделенном, защищенном сервере, что обеспечит максимальную доступность.</span>
      </li>
      <li>
        <div class="image pre3"></div>
        <h4>Регулярные конкурсы</h4>
        <span>Каждую неделю мы проводим конкурсы активности, участие в которых может принять любой участник проекта.</span>
      </li>
      <li>
        <div class="image pre4"></div>
        <h4>Плавный маркетинг</h4>
        <span>Благодаря плавному и продуманному маркетингу Tanks-Lab.com обещает стать настоящим долгожителем.</span>
      </li>
    </ul>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="block black">
      <div class="container">
        <div class="row">
          <ul class="features">
            <li>
              <div class="image stat1"></div>
              <h4>29</h4>
              <span>Всего участников</span>
            </li>
            <li>
              <div class="image stat2"></div>
              <h4>1 849 руб.</h4>
              <span>Заработано участниками</span>
            </li>
            <li>
              <div class="image stat3"></div>
              <h4>4 дня</h4>
              <span>Время работы</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="block inbetweener">
      <div class="holder">
        <div class="inner">
          <div class="content">
            <h1 class="inbetweener_h1">ПРЕДУПРЕЖДЕНИЕ О РИСКАХ</h1>
            <p class="inbetweener_text">Хоть это и игра — но и в ней есть риски. Мы этого не скрываем! Но мы смело заявляем, что наш проект — стабильный и всегда выполняет свои обязательства.
              Это подтвердят тысячи пользователей, которые стабильно зарабатывают на нашем проекте деньги.
              Тем не менее, Администрация проекта не гарантирует что Вы извлечете выгоду из участия в проекте.
              Ваш доход зависит только от Вас, и от глубины участия в проекте!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
